<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Are You Still There? - Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'bundles/areyoustillthere/css/bootstrap.css'
            filter='cssrewrite' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Are You Still There?</a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li><a href="#">{{ app.user ? app.user.username : 'Anonymous' }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
        {% block body %}{% endblock %}
        </div>

        {% javascripts
            'bundles/areyoustillthere/js/jquery-1.7.2.min.js'
            'bundles/areyoustillthere/js/moment.min.js'
            'bundles/areyoustillthere/js/*'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </body>
</html>
